<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDpXMZQySCDdDXCPI-xK0dti2W-FM9oFk</string>
	<key>GCM_SENDER_ID</key>
	<string>289465409378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drawAndGuessPromax</string>
	<key>PROJECT_ID</key>
	<string>draw-and-guest</string>
	<key>STORAGE_BUCKET</key>
	<string>draw-and-guest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<key>DATABASE_URL</key>
    <string>https://draw-and-guest-default-rtdb.asia-southeast1.firebasedatabase.app</string>
	<string>1:289465409378:ios:e201c7f592add358de163b</string>
</dict>
</plist>